/**
 *  Header Sections
 *
 *  All sections within the header.
 *
 * Contents
 * 1 - Common
 * 2 - Social Follow
 * 3 - Site Logo
 * 4 - Search Form
 *
 * # Responsive
*/

/**
 * 1 - Common
 */
/* Default Padding For Nav */
.nav-style {
	display: block;
	padding: 0 15px;
}

.site-branding {
	line-height: 1;
	align-self: center;
}

.ast-menu-toggle {
	display: none;
	background: transparent;
	color: inherit;
	border-style: dotted;
	border-color: transparent;

	&:focus,
	&:hover {
		background: transparent;
		border-color: inherit;
		color: inherit;
	}
}

.socil-font {
	float: left;
	margin-right: 10px;
}

/**
 * 4 - Search Form & Main Header
 */

.ast-main-header-nav-open {
	.main-header-bar {
    	padding-bottom: 0;
    }
}
.main-header-bar{
	z-index: 4;
	position: relative;
	line-height: 4;

	.main-header-bar-navigation {

		height: 100%;

		&:empty {
		    padding: 0;
		}
		
		.children,
		.sub-menu {
			line-height: 1.45;
		}

		.page_item_has_children > a:after,
		.menu-item-has-children > a:after {
			@include ast-has-child-menu-item();
			line-height: normal;
		}

		.ast-search-icon {
			display: block;
			z-index: 4;
			position: relative;
		}

		&.toggle-on {
			padding-top: 1em;
		}
	}

	.ast-search-menu-icon .search-form {
		background-color: #ffffff;
	}

}

.ast-flyout-menu-enable {
	.main-header-bar {
		.ast-masthead-custom-menu-items {
			.ast-custom-button-link {
				border: none;
			}
		}
	}
}

@media (max-width: $mx-col-md) {
	.ast-mobile-header-stack .main-header-bar .ast-search-menu-icon {
	    display: inline-block;
	}
}

.ast-masthead-custom-menu-items .ast-dropdown-active .slide-search.astra-search-icon,
.below-header-user-select .ast-dropdown-active .slide-search.astra-search-icon,
.ast-above-header-section .user-select .ast-dropdown-active .slide-search.astra-search-icon {
    color: #757575;
}

.ast-search-menu-icon {
	
	&.slide-search .search-form {
		backface-visibility: visible;
		visibility: hidden;
	    opacity: 0;
	    transition: all .2s;
	    position: absolute;
	    z-index: 3;
	    right: -1em;
	    top: 50%;
	    transform: translateY(-50%);
    }
	&.ast-dropdown-active.slide-search .search-form {
		visibility: visible;
	    opacity: 1;
	}

	.search-form {
		border: 1px solid #e7e7e7;
		line-height: normal;
		padding: 0 3em 0 0;
		@include ast-border-radius();
		display: inline-block;
		backface-visibility: hidden;
		position: relative;
		color: inherit;
		background-color: #fff;
	}

	.astra-search-icon {
		display: flex;
		line-height: normal;

		&:focus {
			outline: none;
		}
	}


	.search-field {
		border: none;
		background-color: transparent;
		transition: width .2s;
		border-radius: inherit;
		color: inherit;
		font-size: inherit;
		width: 0;
		color: #757575;
	}

	.search-submit {
		display: none;
		background: none;
		border: none;
		font-size: 1.3em;
		color: #757575;
	}

	&.ast-dropdown-active {
		visibility: visible;
		opacity: 1;
		position: relative;
		.search-field {
			width: 235px;

			@media (max-width: $mx-col-sm) {
				width: 170px;
			}
		}
	}
}

li.ast-masthead-custom-menu-items {
	padding: 0 1em;

	a {
		padding-left: 0;
		padding-right: 0;
		vertical-align: middle;
	}
	a,
	a:hover,
	a:focus {
		background: transparent;
	}
	.ast-search-icon .astra-search-icon {
		line-height: 1;
	}
}

.ast-search-icon {
    z-index: 4;
    position: relative;
    line-height: normal;
}

.ast-primary-menu-disabled{

	&.ast-mobile-header-inline{
		.ast-masthead-custom-menu-items{
			text-align: right;
		}
	}
	
	.ast-masthead-custom-menu-items {
		flex: 1;
	}

	&.header-main-layout-2 {
		.ast-masthead-custom-menu-items {
			text-align: center;
		}
	}
	
	&.header-main-layout-3 {
		.ast-masthead-custom-menu-items {
			text-align: left;
		}
	}	
}


.ast-masthead-custom-menu-items{
	padding: 0 1em;
}

.search-custom-menu-item {
    position: relative;
}

/* Hide Mobile logo. */
.ast-mobile-header-logo{
	display: none;
}

.ast-site-identity {
	padding: 1em 0;
}
